// Colors
$main-bg: #f4f8fb;
$footer-bg: #f4f8fb;
$black-color: #2C1800;
$white-color: #FFFFFF;
$white_light-color: #E7EBF2;
$white_light2-color: #DADADA;
$white_light3-color: #CBCFD7;
$red-color: #FF0F48;
$green-color: #26CC26;
$blue_dark-color: #182C8C;
$blue_dark2-color: #284BFF;
$blue_dark3-color: #2545EB;
$blue_light-color: #18C2FF;
$blue_light2-color: #A7ACD9;
$yellow-color: #F7931A;
$yellow_light-color: #FFC944;
$yellow_hover-color: #FF8C00;
$gray-color: #21243A;
$gray_light-color: #777C86;

// Shadow
$menu-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);

